[flake8]
# ANN101	Missing type annotation for self in method
# ANN102	Missing type annotation for cls in class method
# E203	    Whitespace before ':' (compatibility with black)
# D100	    Missing docstring in public module
# D101	    Missing docstring in public class
# D104	    Missing docstring in public package
# D401 First line should be in imperative mood; try rephrasing
extend-ignore = E203, ANN101, ANN102, D100, D101, D104, D401

max-line-length = 100

exclude =
    .git,
    __pycache__,
    .pytest_cache,
    __pypackages__,
    .venv,
    build

# Do not require functions without return statements to type hint "-> None"
suppress-none-returning = true
docstring-convention = numpy
per-file-ignores =
    __init__.py:F401
    tests/*.py:D103